.login_container {

    .label_input_error_container {
        @include label_input_error_container;
    }

    .forget_password_container {
        text-align: right;
        margin-bottom: rem_calc(15);

        .forget_password_link {
            color: $main;
            font-size: rem_calc(12);
        }
    }

    .submit_btn_container {
        margin-bottom: rem_calc(15);

        .submit_btn {
            @include h_w($w: 100%);
            @include btn();
        }
    }

    .signup_link {
        color: $main;
        font-size: rem_calc(12);
    }
}