.modification_container {
    color: rgba($color: $black, $alpha: 0.7);
    @include h_w($w: rem_calc(800));
    max-width: 100%;
    padding: rem_calc(24);
    margin: auto;

    // header de la page modification
    .modification_header_container {
        @include df($dir: column, $ai: center);
        text-align: center;
        margin-bottom: rem_calc(15);

        .modification_header_title {
            font-size: rem_calc(28);
            margin-bottom: rem_calc(5);
        }

        .modification_header_text {
            font-size: rem_calc(12);
        }
    }

    // information necessaire sur la boutique
    .about_shop_container {
        color: rgba($color: $black, $alpha: 0.7);

        // information de la boutique, lien des reseaux sociaux, catégories et sous catégories
        .about_shop {
            background: $white;
            border: rem_calc(1) solid rgba($color: $black, $alpha: 0.2);
            border-radius: rem_calc(10);
            margin-bottom: rem_calc(15);

            .about_shop_title {
                background: rgba($color: $black, $alpha: 0.1);
                font-size: rem_calc(18);
                text-transform: uppercase;
                text-align: center;
                padding: rem_calc(10);
                border-top-left-radius: rem_calc(10);
                border-top-right-radius: rem_calc(10);
            }

            .about_shop_content_container {
                padding: rem_calc(15) rem_calc(10);

                // information de la boutique et liens des reseaux sociaux
                .label_input_error_container {
                    @include label_input_error_container;

                    ._select_container {
                        background: $white;
                    }

                    .indicatif_tel_container {
                        @include h_w($w: 100%);
                        @include df($ai: center);

                        ._select_container {
                            @include input($w: 30%);
                        }

                        ._input {
                            @include input($w: 70%);
                        }
                    }
                }

                // switch
                .switch_container_ {
                    @include df($ai: center);
                    margin-bottom: rem_calc(15);

                    &:last-child {
                        margin-bottom: rem_calc(0);
                    }

                    .switch_title {
                        font-size: rem_calc(12);
                        margin-right: rem_calc(30);
                    }
                }

                // categories et sous categories
                .category_container {
                    color: rgba($color: $black, $alpha: 0.7);
                    margin-bottom: rem_calc(15);

                    .category_title {
                        font-size: rem_calc(14);
                        text-transform: uppercase;
                        margin-bottom: rem_calc(5);

                        &.sub {
                            font-size: rem_calc(12);
                            text-transform: none;
                        }
                    }

                    .category_content_container {
                        @include df($ai: center);
                        flex-wrap: wrap;
                        padding: rem_calc(10);
                        border: rem_calc(1) solid rgba($color: $black, $alpha: 0.2);
                        border-radius: rem_calc(5);

                        @import '../components/card/category_card';
                    }
                }
            }
        }

        // fourchette et services supplementaires
        .f_serv_sup_container {
            margin-bottom: rem_calc(15);

            .f_serv_sup_title {
                font-size: rem_calc(14);
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: rem_calc(5);
            }

            .f_serv_sup_content_container {
                @include df($jc: space-between);
                flex-wrap: wrap;

                // fourchette de prix
                .fourchette {
                    @include h_w($w: 45%);
                    @include df($ai: center, $jc: space-between);

                    .fourchette_label {
                        @include h_w($w: 30%);
                        font-size: rem_calc(12);
                    }

                    .fourchette_select_container {
                        @include input($w: 70%);
                        background: $white;
                    }
                }

                // services supplementaires
                // livraison
                .liv_serv_ap_vente_container {
                    @include h_w($w: 50%);

                    .liv_serv_ap_vente_title {
                        font-size: rem_calc(12);
                        font-weight: 600;
                        margin-bottom: rem_calc(5);
                    }

                    .liv_serv_ap_vente_content_container {
                        .liv_serv_ap_vente_content {
                            @include df($ai: center);
                            margin-bottom: rem_calc(5);

                            .liv_serv_ap_vente_content_title {
                                font-size: rem_calc(10);
                            }

                            .liv_serv_ap_vente_content_radio_btn {
                                margin-left: rem_calc(10);
                            }
                        }
                    }
                }
            }
        }

        // logo et image de couverture
        .logo_bg_img_container {

            // importation image
            .choose_photo_container {
                @include df($dir: column, $ai: center);
                margin-bottom: rem_calc(15);

                .choose_photo_text {
                    font-size: rem_calc(12);
                }

                .choose_photo_size {
                    display: inline-block;
                    font-size: rem_calc(10);
                    margin: rem_calc(5) rem_calc(0);
                }

                .choose_photo_btn {
                    background: $choose_photo_btn_bg_color;
                    color: $white;
                    font-size: rem_calc(12);
                    padding: rem_calc(14) rem_calc(25);
                    border-radius: rem_calc(5);
                    cursor: pointer;
                    transition: box-shadow 0.5s ease;

                    &:hover {
                        box-shadow: rem_calc(5) rem_calc(5) rem_calc(10) rgba($color: $black, $alpha: 0.2);
                    }
                }
            }

            // redimensionner l'image
            .redimensionner_container {

                // bouton redimensionnner
                .redimensionner_btn_container {
                    text-align: center;
                    margin-bottom: rem_calc(15);

                    .redimensionner_btn {
                        @include btn;
                        padding: rem_calc(10) rem_calc(20);
                    }
                }
            }

            // image
            .logo_bg_img {
                @include df($dir: column, $ai: center);
                margin-bottom: rem_calc(15);

                .logo_bg_img_content {
                    @include h_w($h: rem_calc(100), $w: rem_calc(100));
                    max-width: 100%;

                    // format image
                    .logo_bg_img_content_img_format {
                        background: rgba($color: $black, $alpha: 0.1);
                        @include h100_w100;
                        @include df($ai: center, $jc: center);

                        .logo_bg_img_content_img_format_size {
                            font-size: rem_calc(12);
                        }
                    }

                    &.bg {
                        @include h_w($h: rem_calc(200), $w: rem_calc(400));
                    }

                    .logo_bg_img_content_img {
                        @include image;
                        border: rem_calc(1) solid rgba($color: $black, $alpha: 0.2);
                        border-radius: rem_calc(5);
                    }
                }
            }

            // erreur image
            .error_container {
                @include df($dir: column, $ai: center);
                text-align: center;
                margin-bottom: rem_calc(15);

                .error {
                    color: $error_color;
                    font-size: rem_calc(10);
                }
            }
        }

        // produit phare
        .produit_phare_container {
            margin-bottom: rem_calc(15);

            // phrase d'importation des 3 photos du produit phare
            .choose_photo_container {
                @include df($dir: column, $ai: center);

                .choose_photo_text {
                    font-size: rem_calc(12);
                    margin-bottom: rem_calc(15);
                }
            }

            // redimensionner produit phare image
            .redimensionner_container {

                // erreur image
                .error_container {
                    @include df($dir: column, $ai: center);
                    text-align: center;
                    margin-bottom: rem_calc(15);

                    .error {
                        color: $error_color;
                        font-size: rem_calc(10);
                    }
                }

                // bouton redimensionnner
                .redimensionner_btn_container {
                    text-align: center;
                    margin-bottom: rem_calc(15);

                    .redimensionner_btn {
                        @include btn;
                        padding: rem_calc(10) rem_calc(20);
                    }
                }
            }

            // trois photos phares
            .produit_phare_content_container {
                @include h_w($w: 100%);

                .produit_phare_content {
                    @include df($ai: center, $jc: space-around);
                    flex-wrap: wrap;

                    .produit_phare {
                        margin-right: rem_calc(5);
                        margin-bottom: rem_calc(5);

                        // choisir la photo
                        .produit_phare_choose_img {
                            @include df($dir: column, $ai: center);
                            margin-bottom: rem_calc(5);

                            .produit_phare_choose_img_size {
                                font-size: rem_calc(10);
                                margin-bottom: rem_calc(2);
                            }

                            .produit_phare_choose_img_btn {
                                @include btn($bg: $choose_photo_btn_bg_color);
                                font-size: rem_calc(12);
                            }
                        }

                        // format ou image choisie
                        .format_img_container {
                            background: rgba($color: $black, $alpha: 0.1);
                            @include h_w($h: rem_calc(150), $w: rem_calc(150));
                            border-radius: rem_calc(5);
                            user-select: none;

                            .format_img {
                                @include df($ai: center, $jc: center);
                                @include image;
                                font-size: rem_calc(12);
                                border: rem_calc(1) solid rgba($color: $black, $alpha: 0.2);
                                border-radius: rem_calc(5);
                            }
                        }
                    }
                }
            }
        }

        // bouton valider
        .submit_btn_container {
            text-align: center;

            .submit_btn {
                @include btn($bg: $main);
                padding: rem_calc(10) rem_calc(50);

                &.back {
                    margin-right: rem_calc(15);
                }
            }
        }
    }
}

/************************************************
RESPONSIVE
*************************************************/
@media only screen and (max-width: rem_calc(565)) {
    .modification_container {
        padding: rem_calc(0);

        // header de la page modification
        .modification_header_container {
            .modification_header_title {
                font-size: rem_calc(19.8);
            }
        }

        .about_shop_container {

            // fourchette et services supplementaires
            .f_serv_sup_container {
                .f_serv_sup_content_container {

                    // fourchette de prix
                    .fourchette {
                        @include h_w($w: 100%);
                        margin-bottom: rem_calc(15);
                    }
                }
            }

            // produit phare
            .produit_phare_container {

                // trois photos phares
                .produit_phare_content_container {
                    flex-direction: column;

                    .produit_phare_content {
                        flex-direction: column;

                        .produit_phare {
                            margin-right: rem_calc(0);
                        }
                    }
                }
            }
        }
    }
}