/***************** les colors *****************/

// color basic
$white: #FFFFFF;
$black: #000000;
$bg_color: #F7F7F7;
$main: #E91E63;
$main_black: #001E37;
$sidebar_bg_color: #EFEFEF;
$tomato: #FF5851;
$success_color: #4CAF50;
$error_color: #FF0000;
$pack_first_color: #4CAF50;
$pack_second_color: #FBDD00;
$pack_third_color: #F66F02;
$choose_photo_btn_bg_color: #8A777D;


/***************** les fonts *****************/
$font_1: 'font_1', serif;
$font_2: 'font_2', serif;
$font_3: 'font_3', serif;

/***************** les variables de calcul *****************/
$base_font_size: 16px !default;